@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root{
    --fonte0: 'Bebas Neue', cursive;
    --fonte1: 'Sans-serif';
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vw;
    background-color: black;
    text-align: center;
}
.header h1{
    font-family: var(--fonte0);
    font-size: 10vw;
    color: white;
}

.header h2{
    font-family: var(--fonte1);
    font-size: 1vw;
    font-weight: lighter;
    color: white;
}

section p{
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 2em;
   
}

section#img1{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img2{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

p {
    margin: 20px;
    margin-top: 50px;
}

#img1 p{
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 10px;
}

#img2 p{
    color: white;
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    position: relative;
    width: 100%;
    height: 3em;
    padding: .3em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(0, 81, 255)
}